.app {
    width: 100vw;
    height: 100vh;
    background: #111;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.app-element {
    flex-shrink: 0;
}

.app-element.app-main {
    height: 100%;
    flex-shrink: 1;
    margin-bottom: -5px;
    background: #2b2b2b;
}

.app-element.app-navbar {
    height: 30px;
    background: #171717;
    z-index: 1000;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.navbar-element {
    display: flex;
}

.navbar-section {
    display: flex;
    align-items: center;
    padding: 0 6px;
    position: relative;
}
.navbar-section::before {
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 15px;
    left: 0;
    top: 3px;
    background: #ffffff33;
}
.navbar-section:first-of-type{
    padding-left: 0;
}
.navbar-section:first-of-type::before {
    display: none;
}

.navbar-menu {
    position: relative;
    user-select: none;
    margin: 6px;
}

.menu-title {
    padding: 2px 7px;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    color: #bbb;
}
.menu-title:hover {
    background: #2B2B2B;
}

.logo{
    padding: 4px;
}

.menu-options {
    display: none;
    position: absolute;
    min-width: 120px;
    top: 25px;
    left: -5px;
    font-size: 12px;
    padding: 5px 0;
    background: #1c1c1c;
    border: 1px solid #000;
    border-top: none;
    border-radius: 0 0 4px 4px;
}
.navbar-menu:focus .menu-options {
    display: block;
}
.navbar-menu:focus .menu-title {
    background: #3081CC;
    color: white;
}

.menu-options div {
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    min-width: max-content;
}
.menu-options div:hover {
    background: #3081CC;
}
.menu-options separator {
    width: 100%;
    border-top: 1px solid #111;
    display: block;
    margin: 5px 0;
}
.menu-options separator:last-child {
    display: none;
}

.navbar-action {
    padding: 3px;
    margin: 0 3px;
    cursor: pointer;
    border-radius: 4px;
}
.navbar-action:hover {
    background: #2B2B2B;
}
.navbar-action:active {
    background: #3081CC;
}
.navbar-action:last-child {
    margin-right: 0;
}

.navbar-section .ui-checkbox {
    margin: 6px;
}
.navbar-section .ui-checkbox .checkbox-mark {
    background-color: rgb(255, 255, 255, 0.2);
}

.app-element.app-bottom {
    background: #202020;
    display: flex;
    position: relative;
}

.bottom-tabs {
    background: #171717;
    padding: 15px;
    flex-shrink: 0;
}

.tab-selector {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 8px;
}
.tab-selector:hover {
    background: rgb(0, 0, 0, 0.25);
}
.tab-selector:last-child {
    margin-bottom: 0;
}
.tab-selector.sel::before{
    content: '';
    position: absolute;
    background: #3C94E4;
    width: 3px;
    height: 35px;
    left: 0;
    top: 8px;
    border-radius: 3px;
}

.bottom-content {
    width: 100%;
    height: 100%;
}

.tab-content-button {
    width: 25px;
    flex-shrink: 0;
}

.tab-content-blocks canvas {
    margin-right: 5px;
    padding: 5px;
    border-radius: 4px;
}

.bottom-tab {
    display: none;
    height: 100%;
}
.bottom-tab.sel {
    display: flex;
    flex-direction: column;
}

.bottom-tab h4 {
    color: #aaa;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 10px 15px;
    flex-shrink: 0;
    text-transform: uppercase;
}

.bottom-tab .tab-content {
    height: 100%;
    padding: 0 15px;
    display: flex;
}

.bottom-tab .tab-categories {
    user-select: none;
    flex-shrink: 0;
    display: flex;
    background: #1C1C1C;
    padding: 5px 15px;
}
.tab-category-selector {
    box-sizing: border-box;
    margin-right: 20px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
}
.tab-category-selector:hover {
    background: rgba(134, 131, 131, 0.2);
}
.tab-category-selector.sel {
    background: #3C94E4;
}
.tab-category-selector.sel img {
    filter: brightness(10);
}

.app-bottom.min {
    height: 40px;
}

.app-bottom.min .tab-categories {
    display: none;
}

.app-bottom.min .tab-content {
    display: none;
}

.app-bottom.min .bottom-tabs {
    display: none;
}

.bottom-floatbutton{
    position: absolute;
    top: 7px;
    width: 26px;
    right: 15px;
    height: 26px;
    box-sizing: border-box;
    padding: 8px;
}
.bottom-floatbutton:hover{
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.2);
}
.app-bottom.min .bottom-floatbutton{
    transform: rotate(180deg);
}