/* element */
.ui-element {
    position: relative;
    font-size: 12px;
    display: flex;
}

/* checkbox */
.ui-checkbox {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
}

.ui-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.ui-checkbox .checkbox-mark {
    height: 15px;
    width: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-right: 5px;
}
.ui-checkbox.bbg .checkbox-mark {
    background-color: rgba(0, 0, 0, 0.2);
}

.ui-checkbox input:checked ~ .checkbox-mark {
    background-color: #3C94E4;
}
.ui-checkbox.bbg input:checked ~ .checkbox-mark {
    background-color: #fff;
}

.ui-checkbox input:checked ~ .checkbox-mark::before {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 8px;
    background-image: url('../assets/ui-check.svg');
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(10);
}
.ui-checkbox.bbg input:checked ~ .checkbox-mark::before{
    filter: none;
}

/* button */
.ui-button {
    background-color: #3C94E4;
    color: #fff;
    border-radius: 4px;
    padding: 6px 10px;
    border: none;
    font-size: 12px;
    min-width: 60px;
    cursor: pointer;
}
.ui-button:hover {
    background: #3081CC;
}

.ui-button.bbg {
    background-color: #fff;
}
.ui-button.bbg:hover {
    background-color: #ffffffcc;
}

/* input */
.ui-input {
    display: flex;
    background-color: #1D1D1D;
    border: 1px solid #111;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
}

.ui-input.f {
    border-color: #3C94E4;
}

.ui-input input {
    color: #fff;
    background: none;
    border: none;
    padding: 7px 9px;
    padding-right: 0;
    font-size: 12px;
    min-width: 60px;
}

.ui-input img {
    opacity: 0.5;
    padding: 7px 9px;
    height: 14px;
    width: 14px;
}